// Type display classes

.display {
	color: $text-display-color;
	font-size: $text-display-font-size;
	line-height: $text-display-line-height;
	font-family: $text-display-font-family;
	margin-top: $text-display-margin-top;
	margin-bottom: $text-display-margin-bottom;
	text-transform: $text-display-text-transform;
}

h1, .h1 {
	color: $text-h1-color;
	font-size: $text-h1-font-size;
	line-height: $text-h1-line-height;
	font-family: $text-h1-font-family;
	margin-top: $text-h1-margin-top;
	margin-bottom: $text-h1-margin-bottom;
	text-transform: $text-h1-text-transform;	
}

h2, .h2 {
	color: $text-h2-color;
	font-size: $text-h2-font-size;
	line-height: $text-h2-line-height;
	font-family: $text-h2-font-family;
	margin-top: $text-h2-margin-top;
	margin-bottom: $text-h2-margin-bottom;
	text-transform: $text-h2-text-transform;
}

h3, .h3 {
	color: $text-h3-color;
	font-size: $text-h3-font-size;
	line-height: $text-h3-line-height;
	font-family: $text-h3-font-family;
	margin-top: $text-h3-margin-top;
	margin-bottom: $text-h3-margin-bottom;
	text-transform: $text-h3-text-transform;
}

h4, .h4 {
	color: $text-h4-color;
	font-size: $text-h4-font-size;
	line-height: $text-h4-line-height;
	font-family: $text-h4-font-family;
	margin-top: $text-h4-margin-top;
	margin-bottom: $text-h4-margin-bottom;
	text-transform: $text-h4-text-transform;
}

h5, .h5 {
	color: $text-h5-color;
	font-size: $text-h5-font-size;
	line-height: $text-h5-line-height;
	font-family: $text-h5-font-family;
	margin-top: $text-h5-margin-top;
	margin-bottom: $text-h5-margin-bottom;
	text-transform: $text-h5-text-transform;
}

h6, .h6 {
	color: $text-h6-color;
	font-size: $text-h6-font-size;
	line-height: $text-h6-line-height;
	font-family: $text-h6-font-family;
	margin-top: $text-h6-margin-top;
	margin-bottom: $text-h6-margin-bottom;
	text-transform: $text-h6-text-transform;
}


// Paragraphs

p {
	color: $text-paragraph-color;
	font-size: $text-paragraph-font-size;
	line-height: $text-paragraph-line-height;
	font-family: $text-paragraph-font-family;
	margin-top: $text-paragraph-margin-top;
	margin-bottom: $text-paragraph-margin-bottom;
	text-transform: $text-paragraph-text-transform;
}

.text-xs, .text-size-xs { font: $text-size-xs; }
.text-sm, .text-size-sm { font: $text-size-sm; }
.text-md, .text-size-md { font: $text-size-md; }
.text-lg, .text-size-lg { font: $text-size-lg; }
.text-xl, .text-size-xl { font: $text-size-xl; }

.text-bolder,
.bolder { font-weight: $font-weight-bolder !important; }

.text-bold,
strong, .bold, .strong { font-weight: $font-weight-bold !important; }

.text-normal,
.normal { font-weight: $font-weight-normal !important; }

.text-lighter,
.light { font-weight: $font-weight-light !important; }

.text-thin,
.thin { font-weight: $font-weight-thin !important; }



// Links

a {
	color: $text-link-color;
	text-decoration: $text-link-decoration;
	font-weight: $text-link-font-weight;

	&:hover,
	&:focus {
		color: $text-link-color-hover;
		text-decoration: $text-link-decoration-hover;
	}
}


h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a,
h6 a, .h6 a {
  color: inherit;
  text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}  
}


// Lists

ul, ol {
	padding-left: 30px;
	margin-bottom: 15px;

	li {
		margin-bottom: 5px;
	}

	& ol,
	& ul {
		margin-top: 5px;
		margin-bottom: 10px;
	}
}

ol ol li {
	list-style-type: lower-alpha;
}

ol ol ol li {
	list-style-type: lower-roman;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

hr {
    border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	margin-top: -1px;

	&.alt1 {
		border-bottom: 2px dashed rgba(0, 0, 0, .1);
		margin-top: -2px;
	}

	&.alt2 {
		border: 0;
	    height: 1px;
	    background-image: -webkit-linear-gradient(left, #f0f0f0, #999, #f0f0f0);
	    background-image: -moz-linear-gradient(left, #f0f0f0, #999, #f0f0f0);
	    background-image: -ms-linear-gradient(left, #f0f0f0, #999, #f0f0f0);
	    background-image: -o-linear-gradient(left, #f0f0f0, #999, #f0f0f0);
	}
}


small,
.small {
	font-size: 0.75em;
}

sub,
sup {
    font-size: x-small;
	line-height: 0;
	margin-left: 1em/4;
	position: relative;
}

sup {
	top: 0;
}

sub {
	bottom: 1px;
}

mark, 
.mark {
	$mark-colors: (
		blue: #5BC0EB,
		yellow: #FDE74C,
		green: #9BC53D,
		orange: #FA7921,
		pink: #EF4880
	);

	background-color: map-get( $mark-colors, yellow);
	@include color-contrast(map-get($mark-colors, yellow));
}

del {}

s {}

ins {}


blockquote, hr, pre, ol, ul, dl, table, fieldset, figure, address, form {
	margin-bottom: $base-space-size;
}

blockquote {
	padding-left: 1em;
	border-left: 4px solid rgba(0, 0, 0, .1);
	font-style: italic;
	color: rgba($text-color, .65);
	& p {
    	margin-bottom: .5rem;
	}
}

pre, code, samp, var, kbd {
	font-family: Consolas, Monaco, 'Courier New', monospace;
}

code {
	display: block;
	background: map-get($grayscale, light);
	color: rgba($text-color, .85);
	padding: 15px;
}

pre {
    padding: 15px;
}

pre,
pre code {
    background: map-get($grayscale, light);
	padding: 0;
	top: 0;
    display: block;
    line-height: 1.2;
    color: rgba($text-color, .85);
	overflow: none;
	white-space: pre-wrap;
}

abbr {
	text-decoration: underline;
	text-decoration: underline dotted;
	cursor: help;
	border-bottom: 0;
}

