
{% extends "layouts/default.njk" %}

{% block content %}
<div class="container mt-xxl">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">

			<div id="parent">
				<a href="" class="btn btn-primary active" data-action="collapse" data-target="id-elemento">Collapse</a>

				<div id="id-elemento" data-parent="parent" class="collapse show">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, provident aut ratione saepe molestias aliquam. Reprehenderit nulla veniam magnam delectus?
				</div>

				<a href="" class="btn btn-primary" data-action="collapse" data-target="id-elemento">Collapse</a>

				<div id="id-elemento" data-parent="parent"  class="collapse">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, provident aut ratione saepe molestias aliquam. Reprehenderit nulla veniam magnam delectus?
				</div>

				<a href="" class="btn btn-primary" data-action="collapse" data-target="id-elemento">Collapse</a>

				<div id="id-elemento" data-parent="parent" class="collapse">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, provident aut ratione saepe molestias aliquam. Reprehenderit nulla veniam magnam delectus?
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}