{% extends "layouts/default.njk" %}

{% block content %}

	<h1>Hello world!!</h1>
	<ul>
	{% for item in vars.lista %}
		<li><a href="{{ item }}">{{ item }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}