{% extends "layouts/default.njk" %}

{% block content %}
<div class="container">
	<h1>Texto dotdotdot</h1>
	<div class="row">
		<div class="col-md-3">
			<p class="dotdotdot" data-dotheight="90" data-dotlines="3">Anim amet ullamco cillum minim proident esse. Reprehenderit commodo ut eu non fugiat consectetur mollit
				excepteur in id proident est dolor elit. Qui laborum veniam nostrud nisi dolore consectetur in reprehenderit
				nostrud sit elit ad laboris pariatur. Sunt dolore voluptate ut reprehenderit. Tempor laborum minim aliqua
				minim ad consequat exercitation pariatur. Aliquip nostrud ad veniam officia. Magna ad ullamco aliquip amet
				ad sunt dolore nulla <span>mollit sunt proident id</span> voluptate.</p>
		</div>
		<div class="col-md-3">
			<p class="dotdotdot" data-dotheight="150">Anim amet ullamco cillum minim proident esse. Reprehenderit commodo ut eu non fugiat consectetur mollit
				excepteur in id proident est dolor elit. Qui laborum veniam nostrud nisi dolore consectetur in reprehenderit
				nostrud sit elit ad laboris pariatur. Sunt dolore voluptate ut reprehenderit. Tempor laborum minim aliqua
				minim ad consequat exercitation pariatur. Aliquip nostrud ad veniam officia. Magna ad ullamco aliquip amet
				ad sunt dolore nulla <span>mollit sunt proident id</span> voluptate.</p>
		</div>
		<div class="col-md-3">
			<p class="dotdotdot" data-dotlines="4">Anim amet ullamco cillum minim proident esse. Reprehenderit commodo ut eu non fugiat consectetur mollit
				excepteur in id proident est dolor elit. Qui laborum veniam nostrud nisi dolore consectetur in reprehenderit
				nostrud sit elit ad laboris </p>
		</div>
		<div class="col-md-3">
			<p class="dotdotdot" data-dotlines="2">Anim amet ullamco cillum minim proident esse. Reprehenderit commodo ut eu non fugiat consectetur mollit
				excepteur in id proident est dolor elit. Qui laborum veniam nostrud nisi dolore consectetur in reprehenderit
				nostrud sit elit ad laboris </p>
		</div>
	</div>
</div>

{% endblock %}